html {
  font-size: 32px;
  font-family: "IBM Plex Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 0.5rem;
  padding: 0.5rem;
  max-width: 640px;
}

h1 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.41rem;
}

h2 {
  font-size: 0.58rem;
  margin-top: 0.83rem;
  margin-bottom: 0.41rem;
}

.description {
  margin: 0.4rem 0 0.8rem 0;
}

p {
  margin: 0 0 0.2rem;
}

.job-prop strong {
  display: block;
  margin-bottom: 0.08rem;
}

.job-prop span {
  display: block;
}

ul {
  margin: 0;
  padding-left: 1.25rem;
}

.job {
  margin-bottom: 0.83rem;
}

.job-achievements li {
  margin-bottom: 0.2rem;
}

a {
  color: #1e90ff;
}

a:visited {
  color: #bf55ec;
}
