* {
  box-sizing: border-box;
}

html {
  font-size: 48px;
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 0.4rem;
  padding: 0.5rem;
  max-width: 640px;
}

@media (max-width: 320px) {
  body {
    width: 100%;
    padding: 0.5rem 0.2rem;
  }
}